<% if(files.length > 0 ) { %>
	<div class="">
		<ul  class="list-group">
			<%
			for (var i = files.length - 1; i >= 0; i--) { %>
				<li class="list-group-item"><a href="<%=files[i]%>" target="_blank"><%=files[i] %></a></li>
			<% } %>
		</ul>
	</div>
<% } %>