<% if(files ) { %>
	<div class="">
		<ul  class="list-group">
			<% files.forEach(function(file){ %>
					<li class="list-group-item"><a href="<%=file%>" target="_blank"><%=file %></a></li>
			<% }); %>
		</ul>
	</div>
<% } %>