<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quiz - El portal donde puedes crear tus propios juegos</title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
    	<link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    	
		<!-- Custom styles for this template -->
    	<link href="/css/style.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="/" title="El portal donde puedes crear tus propios juegos">
	          		<img src="/favicon.ico" />Quiz	
	          </a>
	        </div>
	      </div>
	    </nav>


		 <div class="container login">

	      <form class="form-signin" action="/init" method="POST">
	      	<h2 class="form-signin-heading">Login</h2>
	      	<%- include ./includes/errors.ejs %>
	        <label for="inputEmail" class="sr-only">Email address</label>
	        <input type="text" name="login" class="form-control" placeholder="Usuario" required autofocus>
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input type="password" name="password" class="form-control" placeholder="Password" required>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Aceptar</button>
	      </form>

	    </div>


		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>