
				<form action="answer" method="GET" role="form">
					<legend>Pregunta: <%= question %></legend>
				
					<div class="form-group">
						<input type="text" class="form-control" name="answer" placeholder="reponde aquí" required>
					</div>
				
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>